@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .gradient-text {
    background-image: linear-gradient(to right,  #00e5d1 , #2577f9);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
}